@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.selected{
    background:purple !important;
}
.red{
    background-color: red;
  border-radius: 100%;
      height: 20rem;
    width: 20rem;
}
.green{
    background-color: green;
     height: 20rem;
    width: 20rem;
    border-radius: 100%;
}
.yellow{
    background-color: yellow;
    border-radius: 100%;
     height: 20rem;
    width: 20rem;
}

